label.label.tc.border.btn.fl > .fa-check::before {
    display: none;
}

img.fr.co {
    float: left;
    width: 0px !important;
    height: 0px !important;
}

img.fr {
    width: 33px !important;
    height: 33px !important;
}

a.border.label.mini.label-success.hand.fa.fa-edit.fr {
    margin: 3px 0px 3px 13px !important;
    padding: 9px !important;
    width: 100% !important;
    text-align: center !important;
}

a.fl.fa.fa-diamond.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ugift.borderg, a.fl.fa.fa-comment.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.upm.borderg, a.fl.fa.fa-envelope-o.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.unot.borderg, a.fl.fa.fa-search.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uh.borderg, a.fl.fa.fa-star.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ubnr.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.udelpic.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.meiut.borderg, a.fl.fa.fa-user-times.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.urkick.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ukick.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uban.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.umute.borderg, .fl.btn.btn-primary.dots.roomh.border {
    font-family: bein !important;
}

.fa-star::before {
    content: "";
    display: none;
}

a.clerDefs.fa.fa-user {
    font-family: bein !important;
}

a.clerDefs.fa.fa-user-plus {
    font-family: bein !important;
}

button.btn.btn-primary.login {
    font-family: bein !important;
}

input#u1 {
    font-family: bein !important;
}

input#u2 {
    font-family: bein !important;
}

input#pass1 {
    font-family: bein !important;
}

input#u3 {
    font-family: bein !important;
}

input#pass2 {
    font-family: bein !important;
}

div#tlogins .checkbox label {
    font-family: bein !important;
}

label.fl.label.loginstat.label-success {
    font-family: bein !important;
}

label.label.tc.border.btn.fl {
    font-family: bein !important;
}

.u-topic.ui-corner-all.dots {
    font-family: bein !important;
    color: rgba(58, 58, 60, 0.92) !important;
}

button.rmake.btn.btn-primary.fl {
    font-family: bein !important;
}

.uzr.fl.corner.borderg.pmsgc.mm > .uzr.fl > div.fl > span.corner.nosel.u-topic.dots.fl.hand {
    font-family: bein !important;
}

label.nosel.inr.fl.uzr.label.label-primary {
    font-family: bein !important;
}

label.nosel.ninr.fl.uzr.label.label-primary {
    font-family: bein !important;
}

.label.border.mini.label-danger.fr.fa.fa-times {
    text-align: center !important;
    font-family: bein !important;
}

.mkrr.fr.label.label-primary {
    font-family: bein !important;
}

input.fl {
    font-family: bein !important;
}

div.borderg.corner > div > .label.label-primary {
    color: rgb(255, 255, 255);
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(90, 42, 120) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(95, 50, 143) 100px, transparent 0px, rgb(248, 249, 250) 200px);
    display: inline-block;
    width: 124px;
    margin-top: 1px;
    height: 26px;
    padding: 6px;
    background-color: rgb(70, 82, 193) !important;
    font-family: bein !important;
}

div#tlogins label.label.mini.fl .lusd > .fa-user::before {
    display: initial;
}

.fa-sign-in::before {
    display: none;
}

.fa-search::before {
    color: rgba(147, 147, 147, 0.65);
}

.fa-search::before {
    content: "";
    display: none;
}

.room.borderg.hand.nosel.fl > .fa-microphone::before {
    display: none;
}

.broadcasters > div > .prod > .fa-microphone::before {
    display: none;
}

.broadcasters > div > .prod > hr {
    margin: 0px;
    border-top-color: rgba(217, 83, 79, 0);
}

.topWall3 > div > span {
    color: rgb(227, 227, 227);
    margin: 84px -8px -11px -2px !important;
}

.fr.top3 {
    width: 74px;
    height: 74px;
    margin: 162px 42px 0px 0px !important;
}

.fl.top1 {
    width: 80px;
    height: 80px;
    margin: 120px 0px 0px 37px !important;
}

.fl.top2 {
    width: 74px;
    height: 74px;
    margin: 157px 0px 0px 53px !important;
}

div#chats > div > div.hand.nosel.fl.uzr.border > img.fitimg.fl.u-pic {
    margin-left: 116px !important;
}

.fa-dot-circle-o::before {
    content: "";
    animation: 1.5s ease 0s infinite normal none running mymove;
}

@font-face {
    font-family: jazeera;
    src: local("الجزيرة"), local("jazeera"), url("https://www.fontstatic.com/fonts/jazeera/jazeera.woff") format("woff");
}

@font-face {
    font-family: jazeera-light;
    src: local("الجزيرة خفيف"), local("jazeera-light"), url("https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff") format("woff");
}

.tcat a:link, .tcat_alink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: jazeera, FontAwesome;
}

.fa-remove::before, .fa-close::before, .fa-times::before {
}

span.minix.badge.border, span.bwall.minix.badge.border, span.brooms.minix.badge.border {
}

span.busers.minix.badge.border {
    border-radius: 10px;
    display: inline !important;
    background-color: rgba(255, 0, 0, 0.9) !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px 3px !important;
    padding: 0px 3px !important;
}

span.bwall.minix.badge.border, span.brooms.minix.badge.border {
}

ul.nav.nav-tabs.fl li a:hover {
    background-color: rgb(233, 182, 255);
    color: rgb(255, 255, 255);
}

ul.nav.nav-tabs.fl li .fa-user-plus::before {
    color: red;
    animation: 0.5s ease 0s infinite normal none running mymove;
}

@-webkit-keyframes mymove {
    0% {
        color: red;
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

@keyframes mymove {
    0% {
        color: red;
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

.ae.label.label-primary.fa.fa-gear {
    padding: 7px 5px 5px 13px;
    border-radius: 0px;
    margin-left: -3px !important;
}

.ae.fa.label.fa-commenting-o.label-primary {
    padding: 7px 5px 5px 13px;
    border-radius: 0px;
    margin-left: -4px !important;
}

.ae.fa.label.label-primary.fa-users {
    padding: 7px 5px 5px 13px;
    border-radius: 0px;
    margin-left: -3px !important;
}

.fa-commenting-o::before {
    content: "";
}

.ae.fa.chats.label.fa-comment.label-primary {
    padding: 7px 13px 5px;
    border-radius: 0px;
    margin-left: -7px !important;
}

.ae.fa.label.fa-commenting-o.label-warning {
}

.ae.fa.chats.label.fa-comment.label-warning {
    padding: 7px 13px 5px;
    border-radius: 0px;
    margin-left: -7px !important;
}

.bgg.border.corner {
    border-bottom-right-radius: 0px !important;
}

label.fl.nosel.label.pnhead {
    background-color: rgb(255, 255, 255);
    width: 85%;
}

.badge {
    background-color: rgba(119, 119, 119, 0);
    border-radius: 33%;
    margin-left: -5px;
    vertical-align: top;
    display: inline !important;
    border: 1px solid rgba(31, 149, 162, 0.03) !important;
}

div#menu-l {
    height: 55px;
    width: 307px;
    float: left;
    position: absolute;
    top: -11px;
    right: -7px;
}

.ae {
    border: 1px solid rgb(175, 171, 171);
}

.primaryborder {
    border-color: rgb(0, 142, 145) !important;
    border-radius: 0px !important;
}

button.fa.fa-sign-out.fl.btn.btn-primary {
    display: none;
    margin-top: 0px !important;
}

span.corner.fa.fa-user.label.label-primary.fr.uc {
    color: rgb(124, 124, 124);
    float: left;
    display: inline !important;
    background-color: rgba(255, 255, 255, 0) !important;
    font-family: bein !important;
    font-size: 13px !important;
    margin-left: -4% !important;
}

div#room > .tablebox.footer.fl.light > button.fa.fa-send.fl.btn.btn-primary {
    content: "ارسال";
    color: rgb(255, 255, 255) !important;
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(255, 255, 255) 100px, transparent -3px, transparent 39px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(79, 53, 106) 15px, transparent 27px, rgb(248, 249, 250) 200px) !important;
    text-align: center !important;
    border-radius: 13px 16px 0px !important;
    width: 53px !important;
    border-right: 5px ridge rgba(171, 157, 211, 0.51) !important;
    border-left: 5px ridge rgba(171, 157, 211, 0.52) !important;
    border-top-color: rgba(157, 142, 199, 0.29) !important;
    border-bottom-color: rgba(157, 142, 199, 0.29) !important;
    margin-top: 1px !important;
    margin-left: 3px !important;
}

button.fa.fa-send.sndpm.fl.btn.btn-primary {
    margin-top: 0px !important;
    color: rgb(255, 255, 255) !important;
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(255, 255, 255) 100px, transparent -3px, transparent 39px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(79, 53, 106) 15px, transparent 27px, rgb(248, 249, 250) 200px) !important;
    text-align: center !important;
    border-radius: 30px 30px 30px 0px !important;
    width: 49px !important;
    border-right: 5px ridge rgba(171, 157, 211, 0.51) !important;
    border-left: 5px ridge rgba(171, 157, 211, 0.52) !important;
    border-top-color: rgba(157, 142, 199, 0.29) !important;
    border-bottom-color: rgba(157, 142, 199, 0.29) !important;
}

.btn-primary:hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(82, 144, 172) rgb(55, 107, 135) rgb(55, 107, 135) rgb(82, 144, 172);
}

.fr.rating-box {
    display: none;
}

.btn.hand.borderg.corner {
    width: 32px;
    height: 33px;
}

.emoi {
    width: auto;
    max-width: 240px;
    max-height: 20px;
}

.bgg.border.corner {
    right: 1px;
    background-color: rgba(119, 136, 153, 0);
    width: auto !important;
    height: auto !important;
    max-height: inherit !important;
    min-height: auto !important;
    max-width: inherit !important;
    border: 2px solid rgba(221, 221, 221, 0) !important;
}

img.fl.emobc {
    margin-top: -3px !important;
}

.callnot {
    left: 1px;
    position: absolute !important;
    top: 1px !important;
    margin-left: 0px !important;
}

.popover.right {
    max-width: initial;
    overflow: auto;
    width: auto;
    margin-left: -109px;
    height: 369px;
}

button.fa.fa-phone.call.fl.btn.btn-success {
    margin-top: 2px !important;
}

.tablebox.footer.light.fl {
    border-top: 0px solid rgb(174, 227, 209);
    border-bottom-right-radius: 0em !important;
}

a.fl.emobc:focus, i.fa.fa-smile-o:focus, .primaryborder:focus, .btn.btn-success:focus, .btn.btn-primary:focus, .dots:focus, .bg:focus, textarea.fl.filw.corner.tbox:focus, area:focus, input#pass1:focus, input#u1:focus, input#u3:focus, input#pass2:focus, input#u2:focus {
    outline: 0px;
    box-shadow: none;
}

button.btn.btn-primary.hand.borderg.corner.fa.fa-ban {
    width: 77px;
    border-radius: 6px;
    height: 27px;
    background-repeat: repeat-x;
    border-color: rgb(185, 44, 40);
    background-image: linear-gradient(rgb(217, 83, 79) 0px, rgb(193, 46, 42) 100%);
    background-color: rgb(193, 46, 42) !important;
}

.fa-user::before {
    margin-right: 4px;
}

.fa-save::before, .fa-floppy-o::before {
    margin-right: 1px;
}

div#tlogins.light {
    height: auto !important;
    border-radius: 6px 8px 7px 0px !important;
}

body.bg.center-block.bg.dad div#tlogins {
    height: auto !important;
}

label.label.fr.label-primary {
    font-family: bein !important;
}

div#tlogins {
    outline: 0px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgb(119, 119, 119) 0px 0px 8px;
    border: 0.1px solid rgba(176, 178, 179, 0.44);
    background: rgb(255, 255, 255);
}

div#tlogins .hand.nosel.fl.uzr.border {
    border: 1px solid rgba(19, 145, 167, 0.25);
    width: 99% !important;
    margin-top: 5px !important;
    border-radius: 3px !important;
}

body {
    background-image: url("");
    background-size: contain;
    background-color: rgb(249, 249, 249) !important;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: rgba(208, 27, 27, 0);
    color: rgb(255, 255, 255);
    font-size: 12px !important;
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}

div#tlogins ::-webkit-scrollbar-thumb {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(26, 163, 186);
    border: 71px none rgb(255, 255, 255);
    border-radius: 31px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) !important;
}

div#tlogins ::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 163, 186);
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: rgb(26, 163, 186);
}

div#tlogins ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border: 65px none rgb(255, 255, 255);
    border-radius: 34px;
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: rgb(255, 255, 255);
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: rgb(255, 255, 255);
}

div#tlogins img.fitimg.fl.u-pic {
    background-size: cover;
    padding: 18px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px !important;
    margin-top: -1px !important;
}

div#tlogins ::-webkit-scrollbar-corner {
    background: transparent;
}

div#tlogins .fl.mini.u-msg {
    text-align: center;
}

div#tlogins .fade {
    position: absolute;
    margin: 22px 0px 0px 147px;
    height: 110px;
    opacity: 1 !important;
    transition: none 0s ease 0s !important;
    width: 65% !important;
}

button.btn.btn-default {
    border-radius: 15px;
    padding: 0px 5px;
    margin-top: 6px;
    color: rgb(255, 255, 255) !important;
    background-image: linear-gradient(rgb(92, 184, 92) 0px, rgb(65, 150, 65) 100%) !important;
    border: 1px solid rgb(204, 204, 204) !important;
}

textarea.as2020 {
    width: 100%;
    resize: none;
    height: 180px;
}

div#chats {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.nav-tabs {
    border-bottom: 0px solid rgb(240, 173, 78) !important;
}

label.ae.fa.label.fa-users.btnClAlGr.label-warning {
    margin-left: -3px !important;
}

label.ae.fa.label.fa-users.btnClAlGr.label-warning, label.ae.fa.label.fa-users.btnClAlGr.label-primary {
    padding: 3px 3px 6px 11px;
}

.fa-user-times::before {
    display: none;
}

label.addGruMsg.label.tc.border.btn.label-info.fl {
    background-image: linear-gradient(rgb(92, 184, 92) 0px, rgb(65, 150, 65) 100%);
    color: rgb(255, 255, 255) !important;
}

.fa-ban::before, .fa-ban::before, .fa-ban::before, .fa-ban::before, .fa-diamond::before, .fa-comment::before, .fa-envelope-o::before {
    display: none;
}

.fa-thumbs-up::before {
    display: none;
}

.ae.fa.label.label-primary.fa-user {
    padding: 7px 12px 5px 9px;
    border-radius: 3px 0px 0px 3px;
    border-style: solid solid solid groove;
    border-left-width: 4px;
    border-left-color: initial;
}

.tbox {
    padding: 3px !important;
    border-right: 5px ridge rgba(171, 157, 211, 0.51) !important;
    border-left: 5px ridge rgba(171, 157, 211, 0.52) !important;
    border-top-color: rgba(157, 142, 199, 0.29) !important;
    border-bottom-color: rgba(157, 142, 199, 0.29) !important;
    min-height: 30px !important;
    border-radius: 11px !important;
    text-align: center !important;
}

.ae.fa.label.label-primary.fa-users.btnClAlGr::before {
    content: "";
}

.fa-envelope::before {
    content: "";
}

.fa-user::before {
}

.fa-group::before, .fa-users::before {
    content: "";
}

.label.ae.fa.chats.label.fa-comment.label-warning::before {
    content: "";
    display: inline !important;
}

.ae.fa.chats.label.label-primary.fa-comment::before {
    content: "";
    display: inline !important;
}

.fa-gear::before, .fa-cog::before {
    content: "";
}

a.btn.minix.fa.fa-comment::before {
    content: "";
    display: none;
}

.fa-send::before, .fa-paper-plane::before {
    padding: 0px 2px 0px 0px;
    text-align: center !important;
}

.fa-share-alt::before {
    content: "";
}

img.emoi {
    background-color: rgba(255, 255, 255, 0) !important;
}

.fa-youtube::before {
    color: rgba(234, 14, 14, 0.61) !important;
}

button.btn.fa.fa-image {
    background-image: repeating-linear-gradient(45deg, rgba(20, 124, 255, 0.64), rgb(59, 86, 120) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(115, 133, 156), rgb(59, 86, 120) 100px, transparent 0px, rgb(248, 249, 250) 200px);
    border: 1px solid rgb(143, 133, 133);
    margin-bottom: 4px;
    height: 31px;
    background-color: rgb(255, 180, 73) !important;
    color: rgb(255, 255, 255) !important;
}

.fm.borderf {
    position: absolute;
    top: 54px;
    left: 0px;
    color: rgb(248, 254, 255);
    padding: 0px 0px 0px 7px !important;
    font-size: 8px !important;
}

a.fx.borderf {
    left: 0px;
    color: rgb(248, 254, 255);
    margin-top: -2px !important;
    font-size: 8px !important;
    margin-left: -4px !important;
}

.modal-body .fa-heart::before {
    display: inline;
}

.btn-primary:focus, .btn-primary:hover {
    background-position: revert;
}

.bccos > div {
    border: 1px solid rgba(234, 234, 234, 0.35) !important;
}

.fa-remove::before, .fa-close::before, .fa-times::before {
    display: none;
}

.dpnl.bg.tab-content {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(253, 255, 255) !important;
}

label.fl.nosel.label.pnhead {
    font-family: jazeera, FontAwesome;
    color: rgb(102, 102, 102) !important;
}

.fa-user::before {
    display: none;
}

div#d0 {
    background-color: rgb(255, 255, 255) !important;
    padding-left: 1% !important;
}

.ae.fa.chats.label.label-primary.fa-comment::before {
    content: none;
}

.fa-group::before, .fa-users::before {
    content: none;
}

.fa-commenting-o::before {
    content: none;
}

.label.ae.fa.chats.label.fa-comment.label-warning::before {
    content: none;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success, a#asim27 {
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.66) !important;
    color: rgb(0, 149, 255) !important;
}

.fa-times::before {
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    color: rgb(249, 249, 249) !important;
    background-color: rgba(154, 120, 120, 0) !important;
}

span.fr.uhash {
    display: none;
}

div#users ::-webkit-scrollbar-thumb {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(26, 163, 186);
    border: 71px none rgb(255, 255, 255);
    border-radius: 31px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) !important;
}

div#wall > label.border.btn.fl {
}

button.btn.fa.fa-youtube-play {
    color: rgb(255, 255, 255);
    height: 31px;
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(90, 42, 120) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(95, 50, 143) 100px, transparent 0px, rgb(248, 249, 250) 200px);
    background-color: rgb(70, 82, 193) !important;
}

button.btn.fa.fa-youtube {
    border: 1px solid rgba(189, 154, 154, 0);
    background: linear-gradient(497deg, rgb(232, 232, 232) 0%, rgb(230, 114, 114) 100%) !important;
    color: rgb(255, 255, 255) !important;
}

.btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

label.label.tc.border.btn.label-info.fl {
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    margin: -246px 15px -64px 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-color: rgb(232, 226, 226) !important;
}

label.label.tc.border.redit.btn.label-info.fl {
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    margin: 3px 0px 0px 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-color: rgb(232, 226, 226) !important;
}

a.label.label-primary.fr {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(189, 154, 154, 0);
    color: rgb(255, 255, 255);
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(90, 42, 120) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(95, 50, 143) 100px, transparent 0px, rgb(248, 249, 250) 200px);
    background-color: rgb(70, 82, 193) !important;
    font-family: bein !important;
}

div.borderg.corner {
    margin-top: 13px !important;
    border: 4px solid rgba(114, 114, 114, 0.13) !important;
    border-radius: 7px !important;
}

label.label.tc.border.pmsg.btn.label-info.fl {
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    margin: 0px 0px 0px 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-color: rgb(232, 226, 226) !important;
}

img.fitimg.fl.borderg.spic.corner.hand {
    width: 53px !important;
    height: 53px !important;
    margin: -70px -91px -6px 152px !important;
    border-radius: 25px !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

div#d2 > .fl.borderg.corner.uzr {
    float: right;
    margin-top: 4px !important;
    border: 4px solid rgba(255, 255, 255, 0) !important;
    background-color: rgba(243, 243, 243, 0) !important;
}

label.label.tc.border.btn.bb4.fl {
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    margin: 0px 0px 3px 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-color: rgb(232, 226, 226) !important;
}

label.label.tc.border.cp.btn.label-danger.fl {
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    margin: 3px 0px 0px 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-color: rgb(232, 226, 226) !important;
}

input.stopic.corner.dots, input.smsg.corner.dots {
    padding: 2px;
    border-right: 5px inset rgb(208, 214, 213);
    border-left: 5px inset rgb(208, 214, 213);
    border-top-color: rgb(210, 213, 214);
    border-bottom-color: rgb(189, 196, 197);
    text-align: center;
    border-top-style: inset;
    border-bottom-style: inset;
    min-height: 28px !important;
    border-radius: 10px !important;
    width: 99% !important;
    font-family: bein !important;
}

area {
    margin: 1px 0px 11px 1px !important;
}

.des {
    margin: 1px 0px 11px -35px !important;
}

.fa-eye-slash::before {
    color: rgb(254, 252, 255) !important;
}

label.ae.fa.chats.label.label-primary.fa-comment, label.ae.fa.label.label-primary.fa-users, label.ae.fa.label.fa-commenting-o.label-primary, label.ae.label.label-primary.fa.fa-gear, label.ae.fa.label.label-primary.fa-user, label.ae.fa.chats.label.fa-comment.label-warning {
    background-repeat: no-repeat;
    border-width: 1px 1px 1px 0px;
    border-top-color: rgba(165, 160, 160, 0);
    border-right-color: rgba(165, 160, 160, 0);
    border-bottom-color: rgba(165, 160, 160, 0);
    border-image: initial;
    border-style: solid solid solid groove;
    border-left-color: initial;
    background-color: rgb(255, 255, 255) !important;
}

span.minix.badge.border {
    border-radius: 10px;
    display: inline !important;
    background-color: rgba(255, 0, 0, 0.9) !important;
    color: rgb(255, 255, 255) !important;
    padding: 0px 3px !important;
    margin: -7px -6px 0px -8px !important;
}

label.ae.fa.chats.label.fa-comment.label-primary > span.minix.badge.border {
    display: none !important;
}

label.fl.nosel.label.pnhead {
    font-family: bein !important;
}

label.fl.nosel.label.pnhead {
    color: rgb(255, 255, 255);
    padding: 10px 18px 8px 0px;
    width: 77.5%;
    display: block;
    height: 37px;
    margin-left: 10% !important;
}

.border {
    border: 2px solid rgba(221, 221, 221, 0.2) !important;
}

label.label.tc.border.btn.label-info.fl {
    border-radius: 3px;
    margin-right: 15px !important;
    margin-left: 3px !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    border-left: 3px solid rgb(67, 67, 67) !important;
    border-right: 3px solid rgb(67, 67, 67) !important;
    margin-top: -288px !important;
}

button.border.btn.label.label-success.fl.fa.fa-plus {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(90, 42, 120) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(95, 50, 143) 100px, transparent 0px, rgb(248, 249, 250) 200px);
    width: 99% !important;
    text-align: center !important;
    border: 1px solid rgb(201, 201, 201) !important;
    border-radius: 0px 6px 0px 2px !important;
    background-color: rgb(70, 82, 193) !important;
}

.head.nosel.bg.fl > .fl.uzr > img.fitimg.fl.hand.u-pic {
    border: 1px solid rgba(179, 100, 100, 0);
    animation: 6s ease 0s infinite normal none running asim;
    border-radius: 50% !important;
    width: 26px !important;
    height: 25px !important;
    margin-left: 4px !important;
    margin-right: 0px !important;
    margin-top: 1px !important;
    padding: 0px !important;
}

textarea#tbox {
    background-color: rgba(0, 0, 0, 0.46);
    text-align: center !important;
    padding: 3px !important;
    border-right: 5px ridge rgba(171, 157, 211, 0) !important;
    border-left: 5px ridge rgba(171, 157, 211, 0) !important;
    border-top-color: rgba(157, 142, 199, 0) !important;
    border-bottom-color: rgba(186, 182, 197, 0) !important;
    min-height: 30px !important;
    border-radius: 11px !important;
    margin-left: -20px !important;
    color: rgb(229, 229, 229) !important;
    margin-right: 19px !important;
}

a.label.label-primary.fl img.fl, button.btn.fr.btn-success.fa.fa-refresh, div#l2 br, div#l3 br {
    display: none !important;
}

button.btn.fr.btn-warning.fa.fa-paint-brush {
    display: none !important;
}

button.btn.fr.btn-success.fa.fa-refresh {
    display: none !important;
}

a.label.label-primary.fl {
    border-radius: 2px !important;
    padding: 1px !important;
    background-image: radial-gradient(circle, rgb(129, 108, 211), rgb(151, 126, 254), rgb(152, 132, 255)) !important;
    text-align: center !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px -3px 1px -2px !important;
    font-family: bein !important;
}

.topWall3 > div > span {
    color: rgb(213, 212, 212) !important;
    font-family: bein !important;
}

.modal-header.label-primary {
    border-bottom: 1px solid rgb(253, 253, 253);
    box-shadow: rgb(255, 255, 255) 0px 3px 9px;
    text-align: center;
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block !important;
    height: 35px !important;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.64), rgb(255, 255, 255) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 100px, transparent 0px, rgb(248, 249, 250) 200px) !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}

.light.fl.pro.center.break.primaryborder {
    top: 4px !important;
    box-shadow: rgb(0, 0, 0) 3px 4px 100px !important;
}

.fl.ustat {
    margin-right: -47px !important;
    border-radius: 50% !important;
    width: 3px !important;
    height: 36px !important;
    margin-left: 1px !important;
}

img.fitimg.fl.u-pic {
    border-radius: 116% !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
    width: 50px !important;
    height: 50px !important;
    margin-left: 4px !important;
    margin-right: 0px !important;
    margin-top: 1px !important;
    padding: 25px !important;
}

input#usearch {
    background-color: rgb(255, 252, 252) !important;
    font-family: bein !important;
}

.broadcasters > div > .prod {
    background-color: rgba(255, 255, 255, 0);
    float: left !important;
    width: 52px !important;
    height: 52px !important;
    color: rgb(86, 111, 150) !important;
    border: 1px solid gainsboro !important;
    margin: 16px 14px !important;
    text-align: center !important;
    border-radius: 50% !important;
}

div#d2bc > .uzr.fl.corner.borderg > img.fl.fitimg.hand.u-pic {
    border-radius: 50% !important;
    width: 57px !important;
    height: 57px !important;
    margin-left: 0px !important;
}

.hand.nosel.fl.uzr.border.uidgmvp1DF5Is0NeKlvAAAS.inroom.ustop > span.usid.fr {
    content: "1000" !important;
}

.hand.nosel.fl.uzr.border > img.fitimg.fl.u-pic {
    margin-left: 160px !important;
    border: 1px solid rgba(241, 241, 241, 0) !important;
    width: 51px !important;
    border-radius: 100% !important;
    color: rgb(255, 255, 255) !important;
    padding: 24px !important;
    height: 51px !important;
}

.hand.nosel.fl.uzr.border > img.fl.ustat {
    margin-right: -47px !important;
    width: 14px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.hand.nosel.fl.uzr.border > div.fl {
    border-radius: 146%;
    float: right;
    line-height: 48px;
    text-align: center !important;
    width: 85% !important;
    justify-content: center !important;
}

.hand.nosel.fl.uzr.border > div.fl > div.fl {
    float: right;
    line-height: 48px;
}

label.ae.fa.label.label-primary.fa-users.btnClAlGr {
    display: none !important;
}

.bg {
    background-color: rgb(255, 255, 255) !important;
}

.head.nosel.bg.fl > .fl.uzr > .fl.filw > .fl {
    margin-top: -22px !important;
    margin-left: 35px !important;
}

button.fa.fa-send.sndbc.fl.btn.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-image: repeating-linear-gradient(45deg, rgba(119, 92, 229, 0.64), rgb(255, 255, 255) 100px, transparent -3px, transparent 39px), repeating-linear-gradient(-45deg, rgb(135, 134, 187), rgb(79, 53, 106) 15px, transparent 27px, rgb(248, 249, 250) 200px) !important;
    text-align: center !important;
    border-radius: 30px 30px 30px 0px !important;
    width: 53px !important;
    border-right: 5px ridge rgba(171, 157, 211, 0.51) !important;
    border-left: 5px ridge rgba(171, 157, 211, 0.52) !important;
    border-top-color: rgba(157, 142, 199, 0.29) !important;
    border-bottom-color: rgba(157, 142, 199, 0.29) !important;
}

.room.borderg.hand.nosel.fl > img.fl.u-pic {
    width: 52px !important;
    height: 52px !important;
}

.fl.top2 > span.corner.dots {
    margin: 77px 0px 0px -11px !important;
}

.fr.top3 > span.corner.dots {
    margin: 77px 0px 0px -9px !important;
}

.fl.top1 > span.corner.dots {
    margin: 103px 0px 0px -10px !important;
}

.youtubeSearch > div > .fa-search::before {
    display: block;
}

.room.borderg.hand.nosel.fl {
    border-top: 5px solid rgb(229, 229, 229);
    border-right: 5px solid rgb(229, 229, 229);
    border-left: 5px ridge rgb(229, 229, 229);
    border-image: initial;
    border-bottom: groove;
    float: right;
}

div#d2 > .fl.borderg.corner.uzr > span.fr.minix.tago {
    display: none;
    float: right;
    font-family: bein !important;
    font-size: 11.8px !important;
}

.hand.corner > center > .corner.border.label.label-primary {
    border-radius: 52px !important;
    background-color: rgb(129, 129, 129) !important;
    border: 0px solid rgb(214, 214, 215) !important;
    font-family: bein !important;
    padding: 0px 8px !important;
    font-size: 15px !important;
}

.hand.corner > .break.fl {
    color: rgb(100, 100, 100);
    font-family: bein !important;
    padding: 8px 0px !important;
    text-align: center !important;
}

.hand.corner > .fl.borderg.corner.uzr {
    margin-top: 14px !important;
    border: 3px solid rgba(217, 217, 217, 0.3) !important;
}

img.corner.borderg.fl {
    width: 42px !important;
    height: 42px !important;
}

label.asim.ae.fa.label.label-primary {
    display: block;
    padding: 8px;
    width: 98%;
    text-align: center;
    color: rgb(32, 32, 32);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid outset solid inset;
    border-image: initial;
    border-radius: 3px;
    border-left-width: initial;
    border-right-width: initial;
    font-family: bein !important;
    margin: 3px 15px 0px 3px !important;
    border-color: rgb(232, 226, 226) !important;
    background: linear-gradient(369deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
}

label.label.tc.border.btn.fl {
    margin-top: 7px !important;
}

::-webkit-scrollbar-thumb {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(193, 193, 193);
    border: 71px none rgb(255, 255, 255);
    border-radius: 57px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) !important;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: rgb(110, 110, 110);
}

.dpnl.bg.tab-content {
    width: 401px !important;
    height: 768px !important;
    max-width: 441px !important;
    min-width: 404px !important;
}

div#tlogins .usero .u-pic {
    width: 57px !important;
    height: 57px !important;
}

a.fl.fa.fa-check.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uunmute.borderg {
    font-family: bein !important;
}

label.label.tc.border.btn.fl {
    margin-top: 10px !important;
}

.loginDiv {
    margin-top: 70px !important;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl > .fl.fa.fa-sign-in.btn.btn-primary.dots.roomh.border.corner {
    padding: 3px !important;
    font-size: 12px !important;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl {
    color: rgb(157, 157, 157);
    font-size: 12px !important;
}

select#zoom {
    display: none !important;
}

label.label.border.btn.label-danger.tc.fl {
    display: none;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl {
    height: 29px;
    font-family: bein !important;
}

label.label.tc.border.cp.btn.label-danger.fl {
    display: block;
}

.dpnl.bg.tab-content {
    width: 401px !important;
    height: 768px !important;
    max-width: 441px !important;
    min-width: 404px !important;
}

.room.borderg.hand.nosel.fl > span.fa.fa-microphone {
}

div#tlogins .usero .u-pic {
    width: 57px !important;
    height: 57px !important;
}

a.fl.fa.fa-check.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uunmute.borderg {
    font-family: bein !important;
    width: 190px !important;
    max-width: 190px !important;
    min-width: 190px !important;
}

label.label.tc.border.btn.fl {
    margin-top: 0px !important;
}

.loginDiv {
    margin-top: 70px !important;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl > .fl.fa.fa-sign-in.btn.btn-primary.dots.roomh.border.corner {
    padding: 3px !important;
    font-size: 12px !important;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl {
    color: rgb(157, 157, 157);
    font-size: 12px !important;
}

select#zoom {
    display: none !important;
}

label.label.border.btn.label-danger.tc.fl {
    display: none;
}

.uzr.fl.corner.borderg.hmsg.mm > .uzr.fl > .u-msg.break.fl {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.36);
    font-family: bein !important;
    font-size: 12px !important;
    color: rgb(201, 201, 201) !important;
}

label.label.tc.border.cp.btn.label-danger.fl {
    display: block;
}

div#tlogins .fr.borderg {
    color: rgb(203, 203, 206);
}

div#tlogins .fr.borderg > a {
    color: rgb(203, 203, 203) !important;
}

.checkbox.fr {
    mix-blend-mode: overlay;
}

label.fl.label.loginstat.label-success {
    display: none;
}

div#tlogins span.fa.fa-user.label.badgex {
    display: none;
}

div#tlogins label.label.mini.fl {
    padding: 0px;
    height: 29px !important;
    background-color: rgb(255, 255, 255) !important;
}

button.btn.fr.btn-success.fa.fa-th-list {
    display: none;
}

label.fl.label.loginstat.label-success {
    display: none;
}

div#tlogins .usero {
    display: none;
}

div#tlogins input.border {
    height: 42px !important;
    text-align: center !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: rgb(24, 186, 244) !important;
    color: rgb(255, 255, 255) !important;
}

div#tlogins ul.nav.nav-tabs a {
    height: 33px;
    text-align: center;
    line-height: 34px;
    border-radius: 11px;
    min-width: 8px;
    margin-top: 5px;
    background: rgb(116, 178, 14);
    color: rgb(255, 255, 255);
    padding: 0px !important;
    font-size: 15px !important;
}

.broadcasters {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    border: none;
    padding: 0px;
}

label.label.tc.border.pmsg.btn.label-info.fl > span.fl.fa.fa-send {
    display: none;
}

label.label.tc.border.redit.btn.label-info.fl > span.fl.fa.fa-home {
    display: none;
}

label.label.tc.border.cp.btn.label-danger.fl > span.fl.fa.fa-star {
    display: none;
}

#topWall div span::before {
    display: none;
}

.topWall10 > div.toptop > div > div > span {
    color: rgb(106, 81, 83);
    background-color: rgba(0, 0, 0, 0);
}

.topWall10 > div.toptop > div > div > span {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(106, 81, 83);
}

.topWall10 > div.toptop > span.dots {
    border-color: rgb(104, 104, 104) !important;
    color: rgb(104, 104, 104) !important;
}

.topWall10 > div.top > div > span.dots {
    color: rgba(193, 193, 193, 0.49);
    padding: 0px 7px;
}

.topWall10 > div.top > div > div > span {
    color: rgba(108, 108, 108, 0.42);
}

.topWall10 > div.top > span.dots {
    color: rgba(143, 143, 143, 0.41);
    border-top: 0px solid;
    border-bottom: 0px solid;
}

.bord {
    border: 3px solid rgb(110, 169, 227) !important;
}

.hand.nosel.fl.uzr.border > .fitimg.fl.u-pic {
    float: right;
    width: 50px !important;
    height: 50px !important;
}

div#tlogins .usero .u-pic, #d2 .u-pic, #d2bc .u-pic, .d2.filh.break.light .u-pic, #rooms .room .u-pic {
    margin-left: 1px;
    margin-top: 4px;
    width: 44px !important;
    height: 44px !important;
}

.fitimg.fl.u-pic {
    border-radius: 50%;
}

div#d0 > label > span {
    display: none;
}

.hand.nosel.fl.uzr.border > div.fl > div.fl > div > span.corner.u-topic.fl {
}

.hand.nosel.fl.uzr.border > div.fl > div.fl > div {
    float: right;
    overflow: unset !important;
}

.hand.nosel.fl.uzr.border > div.fl > div.fl > .fl.mini.u-msg {
}

.fl.mini.u-msg {
    line-height: 30px;
}

.u-topic.ui-corner-all {
    float: right;
    font-family: bein !important;
    padding: 10px 6px !important;
}

img.fl.u-ico {
    padding-right: 1px;
    margin-top: 4px;
    max-height: 17px;
}

.hand.corner.label-primary {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(227, 227, 227) !important;
}

.hand.corner.label-primary > .fl.borderg.corner > .fitimg.fl.u-pic {
    width: 45px !important;
    height: 45px !important;
}

.hand.corner.label-primary > .fl.borderg.corner > .dots.fl {
    margin-top: 1px !important;
    margin-left: 4px !important;
    width: calc(100% - 60px) !important;
}

div#settings > .borderg.corner {
    margin-top: 139px !important;
}

img.fl.u-ico {
    padding-right: 1px;
    margin-top: 4px;
    max-height: 17px;
}

.hand.nosel.fl.uzr.border > div.fl > .fl.mini.u-msg {
    line-height: 48px;
    text-align: center;
    display: none;
}

.hand.corner.label-primary {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(227, 227, 227) !important;
}

.hand.corner.label-primary > .fl.borderg.corner > .fitimg.fl.u-pic {
    width: 43px !important;
    height: 43px !important;
}

.hand.corner.label-primary > .fl.borderg.corner > .dots.fl {
    margin-top: 1px !important;
    margin-left: 4px !important;
    width: calc(100% - 60px) !important;
}

div#settings > .borderg.corner {
    margin-top: 139px !important;
}

.modal {
    position: fixed;
    inset: auto auto 0px;
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-dialog {
    margin: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto !important;
}

.modal-body {
    background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
    line-height: 0px !important;
}

.light.fl.pro.center.break.primaryborder {
    box-shadow: rgb(255, 255, 255) 3px 4px 100px !important;
}

label.mini.dots.nosel.modal-title {
    margin-top: 8px !important;
    font-size: 117% !important;
}

label.mini.dots.nosel.modal-title > img {
    display: none !important;
}

label.mini.dots.nosel.modal-title > img.fl.u-ico {
    display: block !important;
    margin-top: 3px !important;
}

.light.fl.pro.center.break.primaryborder > center > .fitimg.u-pic {
    width: 162px !important;
    height: 162px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
    border-radius: 50% !important;
}

.light.fl.pro.center.break.primaryborder {
    height: auto;
    border-color: rgb(206, 248, 255) !important;
    line-height: 0px !important;
    width: auto !important;
}

.fl.wisam.primaryborder > img {
    margin-top: 1px !important;
    margin-left: auto !important;
}

.fl.mini.u-co {
}

.light.fl.pro.center.break.primaryborder::-webkit-scrollbar {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border: 71px none rgb(255, 255, 255);
    border-radius: 31px;
    background-color: rgb(255, 255, 255) !important;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) !important;
}

.modal-body {
    width: auto !important;
}

a.fl.fa.fa-envelope-o.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.unot.borderg {
    height: 31px;
    margin-bottom: 16px;
    width: 190px !important;
    margin-top: 10px !important;
}

a.fl.fa.fa-comment.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.upm.borderg {
    height: 31px;
    width: 190px !important;
    margin-bottom: 16px !important;
    margin-top: 10px !important;
}

a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.umute.borderg {
    width: 190px !important;
    max-width: 190px !important;
    min-width: 190px !important;
}

.light.fl.pro.center.break.primaryborder > center {
    width: auto !important;
}

a.fl.fa.fa-heart.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ulike.borderg {
    width: 190px !important;
    max-width: 190px !important;
    min-width: 190px !important;
}

a.fl.fa.fa-warning.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ureport.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uban.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ukick.borderg, a.fl.fa.fa-user-times.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.urkick.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.meiut.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.udelpic.borderg, a.fl.fa.fa-star.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ubnr.borderg, a.fl.fa.fa-diamond.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ugift.borderg, a.fl.fa.fa-search.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uh.borderg {
    height: 31px;
    width: 190px !important;
}

div#d2 > .fl.borderg.corner.uzr > .uzr.fl > .u-msg.break.fl {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    float: right;
    color: rgb(229, 229, 229) !important;
    width: auto !important;
    padding: 10px 4px 10px 10px !important;
    margin-top: 7px !important;
}

div#d2 > .fl.borderg.corner.uzr > .uzr.fl > .fl.dots > span.corner.nosel.u-topic.hand {
    float: right;
    color: white !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.cont.fr.filh > .tablebox.footer.light.fl {
    background-image: none;
}

span.number {
    color: rgba(255, 255, 255, 0.21);
}

div#d2 > .fl.borderg.corner.uzr > .uzr.fl > .fl.dots {
    flex-direction: row-reverse;
    margin-left: 19px !important;
    padding-right: 4px !important;
    display: flex !important;
}

.fa-send::before {
    display: none;
}

img.lkbjlhlg {
    float: left !important;
    margin-top: -4px !important;
    height: 33px !important;
    position: absolute !important;
    border-radius: 100% !important;
    width: 34px !important;
    margin-left: -41px !important;
}

div#d2 > .fl.borderg.corner.uzr > .uzr.fl {
    float: right;
}

div#d2 > .fl.borderg.corner.uzr > .fitimg.fl.u-pic {
    float: right;
}

div#d2 > .fl.borderg.corner.uzr > .uzr.fl > .fl.dots > img.fl.u-ico {
    float: right;
}

.room.borderg.hand.nosel.fl > .fitimg.fl.u-pic {
    float: right;
}

.room.borderg.hand.nosel.fl > .fl {
    float: right;
}

.room.borderg.hand.nosel.fl > .fl > .fl.dots {
    float: right;
}

.fl.mini.u-msg {
    float: right;
}
