div#tlogins .lonline {
    background-image: url("https://i.top4top.io/p_2468j7n6d2.png");
    background-position: 57% 5px;
    background-size: 361px 381px;
    outline: rgb(239, 239, 239) solid 1px;
}

label.label.tc.border.btn.fl > span.fa.fl {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 60px 1203px;
    padding: 0px 32px 27px;
    background-position: 63% -950px;
    width: 35px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: -8px !important;
    height: 16px !important;
}

span.fa.fl.fa-check {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 60px 1203px;
    padding: 0px 32px 27px;
    float: left;
    margin: -8px -18px -8px -8px !important;
    height: 16px !important;
    background-position: 63% -974px !important;
    width: 35px !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

img.mjklo {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 32px 917px;
    padding: 0px 0px 29px;
    background-position: 63% -469px;
    float: left;
    margin: -8px -18px -8px -8px !important;
    height: 17px !important;
    width: 35px !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

img.mjklo2 {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 32px 917px;
    padding: 0px 0px 29px;
    background-position: 63% -536px;
    float: left;
    margin: -8px -18px -8px -8px !important;
    height: 17px !important;
    width: 35px !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

a.btn.minix.fa.fa-times.fr {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 7%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 22px 602px;
    background-position: 93% -254px;
    height: 0%;
    text-align: right;
    padding: 3px 0px 0px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-top: 0px !important;
    margin-left: -18px !important;
    margin-right: -5px !important;
    margin-block: -3px !important; }

i.fa.fa-times {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 19%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 22px 671px;
    background-position: 49% -285px;
    padding: 16px 4px 0px 13px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
label.btn.minix.btn-danger.phide.fr.border.fa.fa-minus {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 11%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 24px 719px;
    background-position: 74% -298px;
    padding: 16px 4px 0px 13px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
}

button.fr.fa.fa-share-alt.sndfilebc.fl.btn.btn-primary {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 0%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 27px 813px;
    background-position: 74% -570px;
    padding: 15px 1px 0px 30px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 254, 254, 0) !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
label.btn.btn-info.fr.border.fa.fa-expand {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 4%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 24px 719px;
    background-position: 74% -363px;
    padding: 14px 0px 0px 32px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
}


button.fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 0%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 27px 813px;
    background-position: 74% -570px;
    padding: 15px 1px 0px 30px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: 0px !important;
    margin-left: 3px !important;
}

label.btn.btn-info.fr.border.fa.fa-compress {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 4%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 24px 719px;
    background-position: 74% -363px;
    padding: 15px 1px 0px 30px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
    display: none;
}

label.label.fl.hand.fa.border.fa-user {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 4%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 24px 719px;
    background-position: 74% -417px;
    padding: 15px 1px 0px 30px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
}

.room.borderg.hand.nosel.fl > span.fa.fa-microphone {
    text-align: center;
    background-image: url("https://d.top4top.io/p_2467zg0pi2.gif");
    background-size: 23px 15.89px;
    width: 23px;
    height: 19px;
    background-position: -383% -570px;
    float: left;
    margin-right: 4px !important;
    margin-left: 9% !important;
    margin-top: -19% !important;
}

.broadcasters > div > .prod > .fa-microphone {
    background-image: url("https://f.top4top.io/p_2470whsir1.png");
    width: 60px;
    height: 58px;
    margin-right: auto;
    background-position: 1% 0px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    font-size: 11px !important;
    margin-left: -5% !important;
    margin-top: -3% !important;
}
.topWall3 {
    margin-top: 0px;
    width: 100%;
    background: url("https://d.top4top.io/p_2467v05zs6.png") center bottom / 100% no-repeat white;
    height: 327px !important;
}

img.fl.nosel.emobox {
    content: url("https://www.arabe.chat/sico/1665091913117.png");
    float: left !important;
    margin-top: -8px !important;
    height: 41px !important;
    border-radius: 100% !important;
    width: 41px !important;
}

img.fl.nosel.emo {
    content: url("https://www.arabe.chat/sico/1665091913117.png");
    float: left !important;
    margin-top: -1px !important;
    height: 30px !important;
    border-radius: 100% !important;
    width: 30px !important;
    padding: 0px !important;
}

a.btn.minix.fa.fa-comment.fr {
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1108px;
    width: 28px;
    height: 24px;
    margin-right: 0px;
    background-position: 46% -401px;
    color: rgb(255, 255, 255) !important;
    margin-left: 0% !important;
}

a.btn.minix.fa.fa-thumbs-up.fr {
    border-radius: 4px;
    padding: 4px 45px 24px 0px;
    margin-top: 6px;
    background-repeat: repeat-x;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 36px 1108px;
    width: 28px;
    height: 24px;
    margin-right: -10px;
    background-position: 46% -369px;
    -webkit-text-stroke-width: inherit;
    text-align: left;
    color: rgb(253, 75, 144) !important;
    margin-left: 1% !important;
    font-size: 15px !important;
}
button.fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary {
    background-repeat: no-repeat;
    color: rgba(114, 46, 46, 0);
    width: 0%;
    background-image: url("https://j.top4top.io/p_2423ak40a1.png");
    background-size: 29px 950px;
    background-position: 77% -669px;
    padding: 15px 1px 0px 30px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: 0px !important;
    margin-left: -2px !important;
}

a.btn.minix.btn-primary.fa.fa-heart.fr {
    border-radius: 2px 0px 0px 3px;
    border: 1px solid rgba(255, 244, 244, 0.7);
    background-repeat: no-repeat;
    color: rgb(255, 0, 109);
    width: 50%;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 32px 979px;
    background-position: 49% -324px;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    padding: 4px 74px 7px 49px !important;
}

a.btn.minix.btn-primary.fa.fa-times.fa {
    background-repeat: no-repeat;
    color: rgb(195, 188, 202);
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 25px 805px;
    padding: 0px 7px 16px;
    background-position: 46% -245px;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-left: -10px !important;
}

label.label.label-danger.border.nosel.fa.fa-close.fr {
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    width: 11%;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1266px;
    background-position: 83% -262px;
    padding: 10px 1px 6px 43px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 254, 254, 0) !important;
    margin-top: -20px !important;
    margin-left: -29px !important;
}

a.btn.minix.btn-primary.fa.fa-comment.fr {
    border-radius: 2px 0px 0px 3px;
    border: 1px solid rgba(255, 244, 244, 0.7);
    background-repeat: no-repeat;
    width: 50%;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 32px 979px;
    background-position: 50% -353px;
    color: rgb(2, 225, 255) !important;
    padding: 4px 74px 7px 49px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

textarea#usearch {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-repeat: no-repeat;
    background-size: 34px 971px;
    background-position: -1% -440px;
    padding: 4px 6px 3px 24px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-top: 2px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(185, 180, 180) rgba(255, 254, 254, 0) !important;
    border-image: initial !important;
    min-height: 15px !important;
    border-radius: 1px !important;
    color: rgb(6, 6, 6) !important;
}

label.ae.fa.label.label-primary.fa-user {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1129px;
    width: 30px;
    margin-right: 0px;
    background-position: 67% -6px;
    padding: 0px 9px 25px !important;
    height: 30px !important;
    margin-left: 3% !important;
}
label.ae.fa.chats.label.fa-comment.label-primary {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1129px;
    width: 30px;
    margin-right: 0px;
    background-position: 68% -147px;
    padding: 0px 7px 16px !important;
    height: 30px !important;
    margin-left: 8% !important;
}

label.ae.fa.label.label-primary.fa-users {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 80px 2404px;
    width: 30px;
    background-position: 43% -388px;
    padding: 0px 7px 16px !important;
    height: 30px !important;
    margin-right: 0% !important;
    margin-left: 10% !important;
}
label.ae.label.label-primary.fa.fa-gear {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1129px;
    margin-right: 0px;
    background-position: 66% -42px;
    padding: 0px 7px 16px !important;
    height: 30px !important;
    margin-left: 8% !important;
    width: 38px !important;
}

.fa-gear::before, .fa-cog::before {
    content: none;
}

label.ae.fa.chats.label.fa-comment.label-warning {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1129px;
    padding: 0px 7px 16px;
    width: 38px;
    height: 38px;
    margin-right: 0px;
    background-position: 66% -78px;
    margin-left: 8% !important;
}

label.ae.fa.label.fa-commenting-o.label-primary {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 37px 1129px;
    margin-right: 0px;
    background-position: 46% -111px;
    padding: 0px 7px 16px !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 10% !important;
}

div#d2bc > div > a.btn.minix.btn-primary.fa.fa-times.fa {
    background-repeat: no-repeat;
    color: rgb(195, 188, 202);
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 25px 805px;
    padding: 0px 7px 16px;
    background-position: 46% -244px;
    border: 1px solid rgba(212, 205, 205, 0.9);
    background-color: rgba(255, 255, 255, 0) !important;
    margin-left: 268px !important;
}
div#wall > label.border.btn.fl {
    color: rgba(253, 253, 253, 0);
    height: 48px;
    font-family: rawy-bold;
    background-image: url("https://j.top4top.io/p_2467guj0z0.jpg");
    background-size: 360px 45.3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(229, 229, 229, 0) !important;
    width: 97.1% !important;
    border: 1px solid rgba(221, 221, 221, 0) !important;
    margin: -1px 25px 2px 0px !important;
}

span.usid.fr {
    width: max-content;
    border-radius: 0px 3px 3px 0px;
    height: 25px;
    text-align: left;
    line-height: 22px;
    padding: 1px 4px 0px 25px;
    font-family: monospace, serif;
    border: 1px solid rgb(255, 190, 190);
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 29px 822px;
    background-position: -11% -246px;
    background-repeat: no-repeat;
    margin-left: 0% !important;
    margin-top: 5px !important;
    float: left;
}

.dots.corner.u-topic.fl > span.fr {
    width: max-content;
    border-radius: 0px 3px 3px 0px;
    height: 25px;
    text-align: left;
    line-height: 25px;
    padding: 0px 4px 0px 24px;
    font-family: monospace, serif;
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 26px 699px;
    background-position: 2% -207px;
    background-repeat: no-repeat;
}
img.memr {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 133px 12154px;
    background-position: -11% -246px;
    float: left !important;
    margin-top: -3px !important;
    height: 38px !important;
    position: absolute !important;
    left: 34px !important;
    border-radius: 100% !important;
    width: 38px !important;
}
.mony {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 54px 1916px;
    background-position: -2% -759px;
    background-repeat: no-repeat;
    height: 30px !important;
    padding: 0px 3px 0px 44px !important;
    font-size: 23px !important;
    line-height: 27px !important;
    margin: 30px -31px -19px 0px !important;
}
.topWall10 {
    color: rgba(255, 255, 255, 0);
    height: 408px !important;
    background: url("https://b.top4top.io/p_24677z3nz1.png") center bottom white !important;
    margin-top: 0px !important;
}

div#tlogins label.fl.label.loginstat.label-info {
    position: absolute;
    inset: 0px;
    margin: auto;
    width: 19vw;
    height: 28vw;
    border-width: 0.78vw;
    border-style: solid;
    border-image: initial;
    border-radius: 50%;
    transform: scale(1);
    background-image: url("https://d.top4top.io/p_2467i1zux1.gif");
    background-size: 53px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: rgb(114, 114, 114) !important;
    background-color: rgba(91, 192, 222, 0) !important;
    border-color: rgba(233, 233, 233, 0) !important;
}
.broadcasters > div {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 103%;
    border: none;
    padding: 0px;
    height: 106px;
    background-image: url("https://l.top4top.io/p_2470l2agv1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 426px !important;
}

label.memr {
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 38px 1121px;
    background-position: -11% -199px;
    float: left !important;
    margin-top: -3px !important;
    height: 32px !important;
    position: absolute !important;
    left: 34px !important;
    border-radius: 100% !important;
    width: 36px !important;
}
.hand.corner.label-primary > .fl.borderg.corner > .dots.fl > span.fr {
    width: max-content;
    border-radius: 0px 3px 3px 0px;
    height: 23px;
    text-align: left;
    line-height: 22px;
    padding: 1px 4px 0px 22px;
    font-family: monospace, serif;
    border: 1px solid rgb(255, 190, 190);
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 23px 680px;
    background-position: -1% -202px;
    background-repeat: no-repeat;
}

.hand.corner.label-primary > .fl.borderg.corner > .dots.fl > span.fr {
    width: max-content;
    border-radius: 0px 3px 3px 0px;
    height: 23px;
    text-align: left;
    line-height: 22px;
    padding: 1px 4px 0px 22px;
    font-family: monospace, serif;
    border: 1px solid rgb(255, 190, 190);
    background-image: url("https://g.top4top.io/p_2468ms4vj1.png");
    background-size: 23px 680px;
    background-position: -1% -202px;
    background-repeat: no-repeat;
}
div#d2 {
    background-image: url("https://l.top4top.io/p_2470l2agv1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.tablebox.footer.fl.light {
    background-image: url("https://l.top4top.io/p_2470l2agv1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.hand.nosel.fl.uzr.border {
    float: right;
    margin-top: 0px !important;
    border: 3px solid rgb(221 221 221 / 20%) !important;
    height: 12%;
}
img.fl.u-ico {
    float: right;
}
div#chats>div>.hand.nosel.fl.uzr.border {
    width: 87%!important;
    border: 1px solid rgb(231 230 230 / 37%) !important;
}
div#chats>div>.hand.nosel.fl.uzr.border>.hand.nosel.fl.uzr.border > div.fl {
    width: calc(100% - 59px)!important;
}
div#chats>div>.hand.nosel.fl.uzr.border>.fl>.fl.dots {
    width: 92%!important;
}
.cont.fr.filh {
    height: 600px!important;
}
.fl.filw>.fl>img.fl.u-ico {
    display: none;
}
.fl.filw>.fl>.fl {
    margin-top: 0px !important;
    font-size: 117% !important;
}

.fl.filw>.fl>.fl>span.corner.nosel.u-topic.dots {
    margin-top: 22px !important;
    font-size: 110% !important;
    margin-left: 77px !important;
}
.head.nosel.bg.fl {
    border: 1px solid rgba(114, 114, 114, 0.13) !important;
}
.bgg.border.corner>.head.nosel.bg.fl>.fl.uzr>img.fitimg.fl.hand.u-pic {
    display: none;
}
.cont.fr.filh>div>.uzr.fl.corner.borderg.mm {
    border: 1px solid rgba(114, 114, 114, 0.13);
    margin-top: 4px !important;
}
