div#d2 {
    background-image: url(http://www.ilikewallpaper.net/iPhone-5-wallpapers/download/6192/Bokeh-Starflight--iPhone-5-wallpaper-ilikewallpaper_com.jpg);
}

.u-msg.break.fl {
    /* background-color: #ffffff7d; */
    color: #ffffff!important;
}

.uzr.fl.corner.borderg {
    background-color: #ffffff99;
}

.uzr.fl {
    background-color: #ffffff00;
}

.fl {}

.uzr.fl.corner.borderg.mm {
    border-radius: 0 17px 3px 8px!important;
    width: 21.5%;
    background-color: #ffffff29!important;
    border-top: 0px solid #eee!important;
    border-bottom: 1px solid #eee!important;
    margin-bottom: 0!important;
    width: 100%!important;
}

span.corner.nosel.u-topic.dots.fl.hand {
    background-color: #ffffff00!important;
    color: #fffbfb!important;
}

img.emoi {
    background-color: #ffffff00!important;
}
.uzr.fl.corner.borderg.hmsg.mm {
    background-color: #f0fffb!important;
}
.uzr.fl.corner.borderg.hmsg.mm {
    background-color: #f0fffb00!important;
}

div#d2bc {
    background-image: url(https://prodigits.co.uk/thumbs/wallpapers/p2/abstract/44/78f9b99912240015.jpg);
}

.fa-youtube:before {
    color: #ea0e0e!important;
}
