div#d2 {
    background-image: url(https://j.top4top.io/p_19119k2qn2.png);
    background-size: cover;
}
div#d2bc {
    background-image: url(https://j.top4top.io/p_1911g73og1.jpg);
    background-size: cover;
}
