div#d2 {
    background-image: url(https://k.top4top.io/p_1911ptq6d2.jpg);
    background-size: cover;
}
div#d2bc {
    background-image: url(https://i.top4top.io/p_1911ad9d52.jpg);
    background-size: cover;
}
