div#d2 {
    background-image: url(https://j.top4top.io/p_1911j9yj63.jpg);
    background-size: cover;
}
div#d2bc {
    background-image: url(https://b.top4top.io/p_1911tazg91.jpg);
    background-size: cover;
}
